#login-register input {
  outline: none;
  height: 3.2rem;
  width: 20rem;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 1px solid var(--primary-color);
  background-color: transparent;
  font-family: inherit;
  color: inherit;
  margin-bottom: 1rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  font-size: 1.1rem;
  transition: all 0.3s ease;
}

#login-register input:hover,
input[type="submit"]:hover,
input[type="checkbox"]:hover,
input:focus,
input[type="submit"]:focus,
input[type="checkbox"]:focus {
  border-color: var(--secondary-color);
}

#login-register input[type="submit"] {
  height: 3rem;
  width: 10rem;
  border: 1px solid var(--primary-color);
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

#login-register input[type="submit"]:active {
  background-color: var(--background-color-1);
}

#login-register {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#over-form {
  display: flex;
  width: 20rem;
  min-height: 2rem;
  align-items: center;
  border-left: 2px solid red;
  margin-bottom: 2rem;
  padding-left: 0.8rem;
  color: red;
}

#show-password {
  width: 20rem;
  height: 2rem;
  display: flex;
  margin-top: 0;
  align-items: center;
}

#login-register input[type="checkbox"] {
  height: 1rem;
  width: 1rem;
  margin: 0;
  margin-right: 0.4rem;
  appearance: none;
  border: 1px solid var(--primary-color);
  background-color: transparent;
  cursor: pointer;
  position: relative;
}

#login-register input[type="checkbox"]:hover,
#login-register input[type="checkbox"]:active,
#login-register input[type="submit"]:hover,
#login-register input[type="submit"]:active{
  border-color: var(--secondary-color);
}

#login-register input[type="checkbox"]:checked::before {
  content: "\2713";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#login-register input[type="checkbox"]:not(:checked) {
  background-color: transparent;
}

.under-submit {
  display: flex;
}

.under-submit a {
  padding-left: 0.4rem;
  text-decoration: none;
}

.under-submit a h4 {
  text-decoration: underline;
  color: var(--primary-color);
  transition: 0.3s ease all;
}

.under-submit a:hover h4,
.under-submit a:active h4,
.under-submit a:hover,
.under-submit a:active {
  color: var(--secondary-color);
}

#rules {
  padding-left: 2.3rem;
  margin-top: 0.5rem;
}