#movements {
  border-collapse: collapse;
  padding-bottom: 0;
  margin-bottom: 0;
}

#movements thead {
  background-color: var(--background-color-1);
  text-align: center;
}

#movements tbody {
  color: var(--primary-color-1);
}

#movements td {
  border: solid 1px var(--primary-color-1);
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

#amount {
  text-align: right;
}

#chart {
  display: flex;
  width: 34rem;
  height: 100%;
  align-items: center;
}

.db-child {
  display: flex;
  justify-content: center;
}

.db-child:first-child {
  flex: 0 0 55%;
  align-items: flex-start;
}

.db-child:nth-child(2) {
  flex: 0 0 45%;
  align-items: stretch;
}
