input {
  outline: none;
  height: 3.2rem;
  width: 20rem;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 1px solid var(--primary-color);
  background-color: transparent;
  font-family: inherit;
  color: inherit;
  margin-bottom: 1rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  font-size: 1rem;
  transition: all 0.3s ease;
}

input:hover,
input[type="submit"]:hover,
input[type="checkbox"]:hover,
input:focus,
input[type="submit"]:focus,
input[type="checkbox"]:focus {
  border-color: var(--secondary-color);
}

input[type="submit"] {
  height: 3rem;
  width: 10rem;
  border: 1px solid var(--primary-color);
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

input[type="submit"]:active {
  background-color: var(--background-color-1);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.under-submit-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.show-password-container {
  width: 20rem;
  height: 2rem;
  display: flex;
  margin-top: 0;
  align-items: center;
}

input[type="checkbox"] {
  height: 1rem;
  width: 1rem;
  margin: 0;
  margin-right: 0.4rem;
  appearance: none;
  border: 1px solid var(--primary-color);
  background-color: transparent;
  cursor: pointer;
  position: relative;
}

input[type="checkbox"]:checked::before {
  content: "\2713";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type="checkbox"]:not(:checked) {
  background-color: transparent;
}
