header {
    background-color: var(--background-color-0);
    height: 6.5rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}

a {
    color: inherit;
}