.container {
  display: flex;
  margin-top: 4rem;
}

.container-child {
    display: flex;
    justify-content: center;
}

.container-child:first-child {
    flex: 0 0 55%;
}

.container-child:nth-child(2) {
    flex: 0 0 45%;
}