header {
  background-color: var(--background-color-0);
  height: 6.5rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

header h2 {
  cursor: default;
}

#balance {
  text-decoration: none;
  transition: all 0.3s ease;
}

#balance:hover {
  color: var(--primary-color-0);
}

#balance:active {
  color: var(--secondary-color);
}

#balance:focus {
  color: inherit;
}

nav {
  display: flex;
  align-items: center;
}

#menu {
  transition: all 0.3s ease;
  all: unset;
  cursor: pointer;
  margin-left: 1.2rem;
}

#bars-icon {
  font-size: 1.7rem;
}

#menu:active,
#menu:hover {
  color: var(--secondary-color);
}

#sidenav {
  position: fixed;
  bottom: 0;
  right: 0;
  top: 6.5rem;
  background-color: var(--background-color-0);
  width: 18rem;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  padding: 0;
  margin: 0;
}

#sidenav.open {
  transform: translateX(0);
  opacity: 1;
}

#sidenav li {
  margin: 1.2rem 2rem;
  padding: 0.8rem 1.2rem;
  border-radius: 0.6rem;
  transition: all 0.3s ease;
}

#sidenav li:hover {
  background-color: var(--background-color);
}

#sidenav li:active {
  color: var(--secondary-color);
}

#sidenav ul {
  padding: 0;
  list-style: none;
  text-align: right;
  transition: all 0.3 ease;
}

#sidenav ul button {
  all: unset;
}